body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.FancyBorder.FancyBorder-red {
    border: 5px solid red;
}

.FancyBorder.FancyBorder-orange {
    border: 5px solid orange;
}

.SplitPane {
    border: 5px solid yellow;
    display: flex;
}

.SplitPane .SplitPane-left {
    border: 5px solid green;
    flex-grow: 1;
}

.SplitPane .SplitPane-right {
    border: 5px solid blue;
    flex-grow: 1;
}
